body {
  color: gray;
  background-color: black;
  font-weight: bold;
  font-family: 'Play', sans-serif;
}

.logo-img {
  max-width: 100%;
}

.elementor-icon {
  background-color: #E40404;
  border-radius: 50%;
  padding: 0.5em;
  color: #fff;
  display: inline-block;
  transition: all .3s;
  font-size: 50px;
  text-align: center;

}

.elementor-icon i,
.elementor-icon svg {
  width: 1em;
  height: 1em;
  position: relative;
  display: block;
}

.red {
  color: red;
}

.green {
  color: #0EF12D;
}

.yellow {
  color: yellow;
}
.bold {
  font-weight: 800;
}

.bold-600 {
  font-weight: 600;
}

.bold-100 {
  font-weight: 100;
}
.font-size-27 {
  font-size: 27px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-35 {
  font-size: 35px;
}

.font-size-38 {
  font-size: 38px;
}

.padding-top-15 {
  padding-top: 15px;
}

.padding-left-100 {
  padding-left: 100px;
}
.padding-bottom-13 {
  padding-bottom: 13px;
}

.margin-top-10 {
  margin-top: 10px;
}
.elementor-heading-title {
  color: #FFFFFF;
  font-family: "K2D", Sans-serif;
  margin: 0;
}

.elementor-title {
  color: #FFFFFF;
  font-family: "K2D", Sans-serif;
  font-size: 20px;
  font-weight: 100;
  line-height: 1.2em;
  letter-spacing: 0.6px;
  width: 550px;
  text-align: justify;
  padding-bottom: 10px;
}

.elementor-title-div {
  /* width: 500px; */
  display: flex;
  justify-content: center;
  /* padding-right: 200px; */
}
.social-icons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

h2 {
  font-size: 48px;
}

.state-icon {
  width: 40px;
  height: 40px;
  border-radius: 50%;

}

.background-green {
  background-color: #0EF12D;
}

.background-red {
  background-color: red;
}

.background-yellow {
  background-color: yellow;
}

.border-red {
  border-color: red;
}

.border-green {
  border-color: #0EF12D;
}
.state-div {
  padding-left: 40px;
}

.state-content {
  width: fit-content;
  align-items: center;
  margin: 0 auto;
  border-width: 3px;
  border-radius: 5px;
  border-style: solid;
  padding: 5px 40px;
}

.state-dev {
  display: flex;
}

.state-statement {
  font-family: "K2D", Sans-serif;
  margin-bottom: 0;
  line-height: 1;
}

.state-error {
  color: red;
  font-size: 35px;
  font-family: "K2D", Sans-serif;
  margin-bottom: 0;
}

.connection-state {
  color: yellow;
  font-size: 35px;
  font-family: "K2D", Sans-serif;
}

.zoom-in-out-circle {
  animation: zoom-in-zoom-out 2s ease infinite;
}

@keyframes zoom-in-zoom-out {
  0% {
    transform: scale(0.9, 0.9);
  }
  50% {
    transform: scale(1.1, 1.1);
  }
  100% {
    transform: scale(0.9, 0.9);
  }
}

@media only screen and (max-width: 600px) {
  .btnd {
    width: 100%;
    margin-bottom: 5px;
  }

  h2 {
    font-size: 36px;
  }
}